.main{
    position: relative;
    padding-top: 56px;
    margin-top: -56px
}

.sidebar{
    background-color: var(--indigo-dye);
    width: 12rem; 
    min-width: 4rem; 
    max-width: 16rem;
    height: 100%;
    position: relative;
    z-index: 5;
}

.sidebar-list{
    list-style-type: none;
}

.sidebar-item{
    width: 100%;
    height: 3rem;
    transition: 0.2s;
}

.sidebar-item:hover{
    background-color: var(--blood-red);
    color: var(--cream);
}

.sidebar-item a{
    text-decoration: none;
    color: var(--cream);
    width: 100%;
    height: 100%;

}
.sidebar-label{
    text-wrap: nowrap;
}

.sidebar-icon {
    margin: auto auto;
}

.collapse-label{
    display: none;
    width: 0;
}

.collapse-sidebar{
    width: fit-content;
}

.collapse-sidebar-expand{
    z-index: 5;
}

 @media screen and (max-width: 900px) {
    .sidebar{
        font-size: 1rem;
    }
  }

  @media screen and (max-width: 800px) {
    .sidebar{
        font-size: 0.8rem;
    }
  }